body {
    background-color: rgb(187, 113, 222);
}
header {
    text-align: center;
}
section {
    background-color: rgb(125, 12, 177);
    border-radius: 15px;
    padding: 25px;
    margin-left: 90px;
    margin-right: 90px;
    
}
div {
    color: white;
}
footer {
    text-align: center;
}